[Unit]
Description=Kuber-Tuber LoRa Bridge (worker1)
After=network.target

[Service]
User=root
WorkingDirectory=/home/worker1/kuber-tuber/LoRa/gateway
ExecStart=/usr/bin/python3 /home/worker1/kuber-tuber/LoRa/gateway/LoRa-Bridge.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
